.date-padding {
  padding: 0 !important;
}

.field-type-datetime .form-item {
  margin: 0;
}

.date-year {
  display: inline-block;
}

.form-textarea-wrapper {
  display: inline-block;
  vertical-align: text-top;
}

#field-best-time-to-be-interviewe-values thead,
#field-best-time-to-be-interviewe-values tbody {
  display: inline-block;
  vertical-align: text-top;
}

#field-best-times-to-have-lessons-values thead,
#field-best-times-to-have-lessons-values tbody {
  display: inline-block;
  vertical-align: text-top;
}

.container-inline-date {
  width: 100%;
}

.password-strength, .password-confirm, .tabledrag-toggle-weight-wrapper,
#edit-account .description {
  display: none;
}

label[for="edit-profile-main-field-first-name-und-0-value"],
label[for="edit-profile-main-field-last-name-und-0-value"],
label[for="edit-profile-main-field-date-of-birth-und-0-value-datepicker-popup-0"],
label[for="edit-profile-main-field-phone-number-und-0-value"],
label[for="edit-profile-main-field-gender-und"],
label[for="edit-profile-main-field-address-und-0-country"],
label[for="edit-profile-main-field-address-und-0-thoroughfare"],
label[for="edit-profile-main-field-address-und-0-premise"],
label[for="edit-profile-main-field-address-und-0-locality"],
label[for="edit-profile-main-field-school-year-und-0-value-year"],
label[for="edit-profile-main-field-school-education-instituti-und-0-value"],
label[for="edit-profile-main-field-years-studied-english-und-0-value"],
label[for="edit-profile-main-field-text-book-used-in-school-und-0-value"],
label[for="edit-profile-tutor-profile-field-first-name-und-0-value"],
label[for="edit-profile-tutor-profile-field-last-name-und-0-value"],
label[for="edit-profile-tutor-profile-field-date-of-birth-und-0-value-datepicker-popup-0"],
label[for="edit-profile-tutor-profile-field-phone-number-und-0-value"],
label[for="edit-profile-tutor-profile-field-gender-und"],
label[for="edit-profile-tutor-profile-field-address-und-0-country"],
label[for="edit-profile-tutor-profile-field-address-und-0-thoroughfare"],
label[for="edit-profile-tutor-profile-field-address-und-0-premise"],
label[for="edit-profile-tutor-profile-field-address-und-0-locality"],
label[for="edit-mail"],
label[for="edit-pass-pass1"],
label[for="edit-pass-pass2"],
.field-label label {
  width: 200px;
}
